colorama
termcolor
vdf @ git+https://github.com/solsticegamestudios/vdf@v4.0
requests
httpx[brotli]
steam @ git+https://github.com/solsticegamestudios/steam@v1.6.1
steamid
bsdiff4
psutil; sys_platform == 'linux'
xdg; sys_platform == 'linux'
