colorama
termcolor
vdf @ git+https://github.com/solsticegamestudios/vdf
requests
httpx[brotli]
steam @ git+https://github.com/solsticegamestudios/steam
steamid
bsdiff4
psutil; sys_platform == 'linux'
xdg; sys_platform == 'linux'
